html,
body {
  background-color: #eeeeee;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #eeeeee;
  color: #3c4858;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  width: 100%;
  height: 100%;

}

body {
  background-color: #eeeeee;
  color: #3c4858;
}

/* ------------------------------------------------------------------------------------ */
/*Menu de filtrado */
/* Estilo para el contenedor del menú desplegable */
.Dropdown-root {
  position: relative;
  width: 180px;
}

/* Estilo para el control del menú desplegable */
.Dropdown-control {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  list-style: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 8px 52px 10px 20px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);

}

/* Estilo para la flecha del menú desplegable */
.Dropdown-arrow {
  border-color: #eeeeee transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  /* content: ' '; */
  /* display: block; */
  /* height: 0; */
  /* margin-top: -ceil(2.5); */
  position: absolute;
  /* right: 5px;  */
  left: 3px;
  top: 18px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #fff;
  border-width: 0 5px 5px;
}

/* Estilo para el menú desplegable */
.Dropdown-menu {
  /* Cambia el color de fondo del menú */
  background-color: #0099CC;
  /* border: 1px solid #ccc; */
  color: #eeeeee;
  font-size: 16px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position:relative;
  top: 100%;
  width: 100%;
  z-index: 1000;
  /* -webkit-overflow-scrolling: touch; */
  cursor: pointer;
}

.Dropdown-menu .Dropdown-group>.Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

/* Estilo para las opciones del menú desplegable */
.Dropdown-option {
  /* Agrega un relleno a las opciones */
  padding: 10px;
}

/* Estilo para la opción seleccionada del menú desplegable */
.Dropdown-option.is-selected {
  /* Cambia el color de fondo de la opción seleccionada */
  background-color: #73c2dd;
  ;
}

.custom-menu::-webkit-scrollbar {
  width: 5px;
}

/* ---------------------------------------------------------------------------- */
/* Para el menu de gestiones */
.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items>a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* content */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
}

.invalid-feedback {
  position: absolute;
  top: 100%;
  left: 0;
  color:brown;
}


.MuiDialog-root {
  z-index: 9999;
  box-shadow: none !important;
}

.MuiDialog-paper {
  box-shadow: none !important;
}
.MuiBackdrop-root {
  backdrop-filter: blur(0.8px);
}

.my-custom-dialog .MuiDialogTitle-root {
  /* background-color: #0099CC; */
  color: #0099CC;
}

.my-custom-dialog .MuiButton-root {
  color: #0099CC;
  padding: 5px 10px;
  background-color: white;
  border: 2px solid #0099CC;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-right: 4px;
}
.my-custom-dialog .MuiButton-root:hover {
  /* Cambiar el color del fondo */
  background-color: #0099CC;
  /* Cambiar el color del texto */
  color: white;
}
