/* Dashboard */
.sidebarcontainer {
  top: 0px;
  position: fixed;
  width: 200px;
  height: 100%;
  border: 1px solid #606264;
  /* margin: 20px; */
  /* padding: 10px; */
  /* border-radius: 20px; */
  background-color: white;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding: 8px;
  z-index: 1;
}

.logo {
  padding: 3px;
  text-align: center;
  border-block-end-style: solid;
  border-block-end-width: 0.5px;
}

.wrapper>ul {
  margin-top: 20px;
  text-align: left;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.wrapper>ul>li {
  list-style: none;
  font-size: 14px;
  text-decoration: none;
}

/* cambiar el color de letra del sideBar */
.wrapper>ul>li>a {
  color: #272a2e;
  cursor: pointer;
}

.wrapper>ul>li>a:hover {
  color: #007e9e;

}

/*
@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */


/* for mobiles phones */
@media only screen and (max-width:768px) {
  .sidebarcontainer {
    width: 75px;
  }

  .logo {
    width: 60px;
    height: 40px;
    padding: 5px;
    margin: 0.2px;
  }

  .wrapper>ul {
    gap: 3px;
  }

  .wrapper>ul>li>a:hover {
    font-size: 0;
    transition: 0s;
  }

  .wrapper>ul>li>a {
    /* opacity: 0; */
    font-size: 0.5px;

  }
}

/* ------------------------------------------------------------------------------------------------------------- */

/* header css started */

.headcontainer {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  background-color: #007e9e;
  margin-left: 200px;
  z-index: 100;
}

.headwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  margin-left: 40px;
  padding: 10px;
}

.title>h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.createButton {
  background-color: darkgray;
}

.faIconOutAltContent {
  position: absolute;
  right: 15mm;
  margin-top: 20px;
  margin-bottom: 18px;
  margin-right: -5px;
}

.faIconOutAlt {
  width: 16px;
  color: white;
  opacity: 1;
  margin-left: 20px;
  cursor: pointer;
}

.faIconOutAlt:hover {
  color: black;
}


/* for mobiles phones */
@media only screen and (max-width:768px) {
  .headcontainer {
    width: 89.8%;
    margin-left: 50px;
    height: 40px;
  }

  .headwrapper {
    margin-left: 10px;
  }

  .title>h2 {
    font-size: 16px;
  }

  .faIconOutAltContent {
    right: 8mm;
    margin-top: 10px;
    margin-right: 0.2px;
  }

}

/* ------------------------------------------------------------------------------------------------------------ */
/* Content Layout*/
.contenetcontainerLayout {
  /* position: fixed; */
  margin-top: 70px;
  width: 1165px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content:center; */
  background-color: #fff;
  /* height: 540px; */
  min-height: 100vh;
  /* Altura mínima para cubrir toda la pantalla */
  margin-left: 200px;
}


/* position: fixed;
  width: 200px;
  height: 100%;
  border: 1px solid #606264;
  background-color: white;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);  */

@media only screen and (max-width:768px) {
  .contenetcontainerLayout {
    width: 89.8%;
    height: 577px;
    margin-left: 50px;
    font-size: 12px;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Botones */
.btn {
  color: #fff;
  padding: 5px 10px;
  background-color: #007e9e;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 4px;
}

.btn:hover {
  /* Cambiar el color del fondo */
  background-color: #0099CC;
  /* Cambiar el color del texto */
  color: white;
}

.btnConfirm {
  margin-right: 20px;
  /* Ajusta la separación entre los botones */
  font-size: 18px;
  /* Ajusta el tamaño del texto del botón */
}

/* ------------------------------------------------------------------------------------------------------------ */
/* dashboard content started */

.contenetcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 0px;
  align-items: center;
  justify-content: center;
}

.contentwrapper {
  display: flex;
  padding: 20px;
  gap: 40px;
  border-radius: 30px;
  background-color: #fff;
  margin-left: 100px;
  width: 1090px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contentwrapperGantt {
  /* display: flex; */
  padding: 20px;
  gap: 40px;
  border-radius: 30px;
  background-color: #fff;
  margin-left: 100px;
  width: 1090px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contentwrapper h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0099CC;
}

/* for mobiles phones */
@media only screen and (max-width:768px) {
  .contenetcontainer {
    margin-left: 15px;
    align-items: center;
    justify-content: center;
  }

  .contentwrapper {
    margin-left: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

}

/* .container {
  padding: 0 2rem;
}
/* Tabla----------------------------------------------------------------------- */

.divTableInter {
  align-content: center;
}

.filtrosEstructuraContent {
  padding: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.filtrosEstructuraContentInt {
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.filterListOffOutlinedContent {
  position: absolute;
  right: 15mm;
  margin-top: -10px;
  margin-right: 20px;
}

.inputFilter {
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  width: 150px;
}

.selectGestiones {
  padding: 7px;
  font-size: 14px;
  width: 200px;
  z-index: 15;
  position: relative;
}
.selectGestionesGantt {
  padding: 7px;
  font-size: 14px;
  width: 150px;
  font-weight:lighter;
}
.divFechaFilter {
  padding: 7px;
  text-align: center;
}

.table {
  position: fixed;
  max-height: 410px;
  max-width: 1058px;
}

.table thead th {
  position: sticky;
  top: 0;
  /* z-index: 1; */
  background-color: #fff;
}

.table tfoot td {
  position: sticky;
  bottom: 0;
  background-color: #ffff;
}
weight
.table td {
  border-bottom: 1px solid #ddd;
  /* white-space: nowrap; */
}
/* .tableCellIcon{
  padding: 5px;
  width: 50;
} */

.spacing {
  font-weight: bold;
  width: 2100px;
}

.letraEnNegrita {
  font-weight: bold;
}

.trStyle {
  padding: 20px;
  text-align: center;
  width: 210px;
  max-width: 210px;
}

.tdStyle {
  width: 200px;
}

.tabs {
  display: flex;
  align-items: center;
}

.btnNuevoContent {
  padding: 20px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width:768px) {
  .table {
    width: 67%;
    height: 577px;
    margin-left: -10px;
  }

  .btnNuevoContent {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 230px;
    font-size: 10px !important;
  }

  .btn {
    width: 100px;
    font-size: 10px !important;
  }

  .spacing {
    width: 200px;
    font-size: 12px;
  }

  .tdStyle {
    padding: 1px;
    max-width: 150px;
    font-size: 11px !important;
  }

  .filtrosEstructuraContent {
    padding: 8px;
    gap: 5px;
  }

  .inputFilter {
    font-size: 10px !important;
    padding: 2px;
    width: 100px;
  }

  .filterListOffOutlinedContent {
    right: -5mm;
    margin-top: -10px;
    margin-right: 50px;
  }

  .selectGestiones {
    padding: 7px;
    width: 150px;
  }

  .divIconH2 {
    display: none;
    align-items: normal;
    padding: 0px;
    left: 5px;
  }

  .tablePagination {
    font-size: 10px !important;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

.tableReport {
  position: fixed;
  margin-left: 30px;
  max-height: 410px;
  /* ancho de la tabla  */
  max-width: 1000px;
}

.tableReport thead th {
  position: sticky;
  top: 0;
  /* z-index: 10; */
  background-color: #fff;
}

.tableReport tfoot td {
  position: sticky;
  bottom: 0;
  /* z-index: 10; */
  background-color: #ffff;
}

.tableReport td {
  border-bottom: 1px solid #ddd;
  /* white-space: nowrap; */
}

.spacingReport {
  /* padding: 20px; */
  font-weight: bold;
  /* text-align: center; */
  width: 5px;
}

.inputFilterReport {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  width: 180px;
}

.trStyleReport {
  font-weight: bold;
  text-align: center;
  width: 5px;
}

.tdStyleReport {
  padding: 5px;
  width: 500px;
}

@media only screen and (max-width:768px) {
  .tableReport {
    width: 67%;
    height: 577px;
    margin-left: -10px;
  }

  .spacingReport {
    width: 200px;
    font-size: 12px;
  }

  .tdStyleReport {
    padding: 1px;
    max-width: 150px;
    font-size: 11px !important;
  }

  .inputFilterReport {
    font-size: 10px !important;
    padding: 2px;
    width: 100px;
  }

}


/* ------------------------------------------------------------------------------------------------------------ */
.dialogBody {
  margin-top: 20px;
}

/* form css started  */
/* formulario de intervencion  */
.inputGroup {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  padding: 5px;
}

.paddingSelect {
  gap: 10px;
  padding: 5px;
}

.dateGroup {
  display: flex;
  justify-content: space-between;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 1px;
}


.fullRow {
  position: relative;
  grid-column: 1 / span 2;
  padding: 5px;
}

.halfRow {
  padding: 5px;
}

.error {
  /* position: absolute; */
  /* top: 100%;
  left: 0; */
  color: brown;
}

.inputForm {
  padding: 7px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #ccc;
  font-size: 14px;
  color: black;
  width: 400px;
  height: 40px;
}

.inputFormDirec {
  padding: 7px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #ccc;
  font-size: 14px;
  color: black;
  width: 510px;
  height: 40px;
}

.selectForm {
  width: 250px;
  grid-column: 1 / -1;
  font-size: 14px;
  border-bottom: 2px solid gray;
  color: black;
}

.selectFormRecInt {
  width: 810px;
  font-size: 14px;
  border-bottom: 2px solid gray;
  color: black;
}

.selectFormRec {
  width: 400px;
  font-size: 14px;
  border-bottom: 2px solid gray;
  color: black;
}

.selectFormRec .options {
  max-height: 30%;
}

/*  className={styles.MenuItemSelectForm} */

/* .formButtons {
  grid-column: 1 / -1;
  margin-top: 2rem;
} */

.input {
  padding: 7px;
  border: none;
  outline: none;
}

.input:focus,
.select:focus {
  outline: none;
  border-bottom-color: #fff;
}


/* .select {
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  width: 230px;
  appearance: none;
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 40px;
  font-family: Arial, sans-serif;
  color: #0099CC;
  font-weight: bold;
} */

.input[type="radio"] {
  appearance: none;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.input[type="radio"]:checked {
  border-color: #0099CC;
}

.input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  margin: auto;
  background-color: #0099CC;
  border-radius: 50%;
}

.label {
  margin-left: 10px;
  display: inline-block;
  margin-right: 10px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* GanttChart started */
.ganttContainer {
  --color-text: #272a2e;
  --color-primary-dark: #007e9e;
  --color-primary-light: #9ddcff;
  --color-secondary: #4be35a;
  --color-tertiary: #f7f7f7;
  --color-orange: #ef5350;
  --color-outline: #e9eaeb;
  --border-radius: 5px;
  --cell-height: 30px;
  padding: 1rem;
}

/* GanttChart TimeRange started */
.timeRangeContainer {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.timeRangeContainer>* {
  display: flex;
  align-items: center;
}

.timeRange {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0.75rem 0;
}

.selectTimeRange {
  appearance: none;
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 40px;
  font-family: Arial, sans-serif;
  color: #0099CC;
  margin-top: 0.5rem;
  z-index: 999;
}

/* settings */
.settings {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

/* ganttGridContainer */
.ganttGridContainer {
  /* position: fixed; */
  display: grid;
  grid-template-columns: 150px 1fr;
  outline: 2px solid var(--color-outline);
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  max-height: 310px;
  overflow-y: auto;
  width: 1000px;
}

/* ganttTask */
.ganttGridContainerTasks {
  outline: 0.5px solid var(--color-outline);
}

.ganttTaskRow {
  display: flex;
  outline: 0.5px solid var(--color-outline);
  text-align: center;
  height: var(--cell-height);
  border: none;
}

.inputTask {
  width: 127px;
  border: none;
  outline: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.inputTask:focus {
  /* background-color: darkgray; */
  transition: 0.2;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

}

.btnTask {
  line-height: 0px;
  color: var(--color-orange);
  background: none;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;
}

.button:focus {
  outline: none;
  transform: scale(1.3);
}


/* Time table  */
.ganttGridContainerTime {
  display: grid;
  overflow-x: auto;
  outline: 0.5px solid var(--color-outline);
  font-size: 14px;

}

.faIcon {
  width: 16px;
  color: #007e9e;
  opacity: 0.6;
  margin-left: 20px;
  cursor: pointer;
}

.faIcon:hover {
  color: #025a78;
}

.divIconH2 {
  display: flex;
  align-items: center;
  padding: 20px;
  left: 5px;
}

.divIcons {
  display: flex;
  align-items: center;
  padding: 0px;
}


/* for mobiles phones */
@media only screen and (max-width:768px) {

  .timeRange {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0.75rem 0;
  }

  .selectTimeRange {
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 40px;
    font-family: Arial, sans-serif;
    color: #0099CC;
    margin-top: 0.5rem;
    z-index: 999;
  }

  /* settings */
  .settings {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  /* ganttGridContainer */
  .ganttGridContainer {
    /* display: grid; */
    overflow-y: auto;
    margin-left: -20px;
    max-height: 300px;
    max-width: 280px;
  }

  /* ganttTask */
  .ganttGridContainerTasks {
    outline: 0.5px solid var(--color-outline);
    width: 110px;
  }

  .ganttTaskRow {
    display: flex;
    outline: 0.5px solid var(--color-outline);
    text-align: center;
    height: var(--cell-height);
    border: none;
    width: 110px;
  }

  .inputTask {
    width: 90px;
    border: none;
    outline: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
  }

  .inputTask:focus {
    /* background-color: darkgray; */
    transition: 0.2;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  }

  .btnTask {
    line-height: 0px;
    color: var(--color-orange);
    background: none;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
  }

  .button:focus {
    outline: none;
    transform: scale(1.3);
  }


  /* Time table  */
  .ganttGridContainerTime {
    display: grid;
    overflow-x: auto;
    outline: 0.5px solid var(--color-outline);
    width: 250px;
    margin-left: -40px;
    font-size: 10px;
  }

}

/* filtrado en el gantt --------------------------------------------------------------- */
.selectReact {
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 10px;
  z-index: 999;
}

.select:focus {
  outline: none;
  border-bottom-color: #0099CC;
}

/* ------------------------------------------------------------------------------------------------------ */
/* Menu desplegable  */
.selectFilter {
  position: relative;
  display: inline-block;
}

.selectFilter-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.selectFilter:hover .selectFilter-content {
  animation-name: example;
  animation-duration: 1s;
}

.selectFilter {
  background-color: #0099CC;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Login  */

.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(173, 216, 230, 0.5), rgba(173, 216, 230, 0.5));
  background-size: cover;
}

.smallContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  height: 60%;
  background: #fff;
}

.image {
  margin-bottom: 20px;
}

.smallContainer form {
  display: flex;
  flex-direction: column;
}

.smallContainer label {
  margin-bottom: 5px;
  margin-left: -130px;
}

.smallContainer input[type="text"],
.smallContainer input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: solid thin #ddd;
  width: 460%;
  margin-left: -130px;
}

.smallContainer input[type="submit"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #5C7AEA;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

/* Estilos para pantallas con un ancho de 600px o menos */
@media (max-width: 950px) {
  .smallContainer {
    width: 80%;
    padding: 10px;
  }

  .smallContainer input[type="text"],
  .smallContainer input[type="password"] {
    width: 460%;
    margin-left: -130px;
  }

  .smallContainer label {
    width: 300%;
    margin-left: -130px;
    /* margin-left: 0; */
  }
}